.quiz {
    margin-top: 130px;
    background-image: url("../../img/quizpng.png");
    width: 100%;
    max-width: 682px;
    height: 100%;
    /*max-height: 559px;*/
    background-size: cover;
    background-repeat: no-repeat;
}

.quizContent {
    text-align: left;
    font-family: 'SegoeUI', sans-serif;
    display: flex;
    flex-direction: row;
    max-width: 613px;
    margin-left: 45px;
}

.quizContentLeft {
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 24px;
    max-width: 223px;
}

.quizContentRight {
    max-width: 390px;
}

.quizContentRightTitle {
    font-size: 14px;
    margin-top: 52px;
    color: #fff;
}

.quizContentRightDescription {
    font-size: 12px;
    margin-top: 21px;
    margin-bottom: 30px;
}

.quizContentRightEmail {
    font-size: 14px;
}

.quizContentRightQuestions label{
    font-size: 12px;
    line-height: 0;
}

.quizContentRightQuestions span {
    color: #ee1c24;
}

.quizContentRightQuestions p:nth-of-type(1){
    margin-top: 38px;
    margin-bottom: 21px;
    font-size: 24px;
}

.quizContentRightQuestions p:nth-of-type(2){
    font-size: 14px;
    margin-bottom: 23px;
}
.quizContentRightQuestions label {
    float: left;
    clear: none;
    display: block;
    padding: 2px 1em 0 10px;
}

.quizContentRightQuestions input[type=radio],
.quizContentRightQuestions input.radio {
    float: left;
    clear: none;
    margin: -4px 0 0 2px;
}

.quizContentRightAnswers {
     display: flex;
     flex-direction: column;
 }

.quizContentRightAnswers  {
    display: flex;
    flex-direction: column;
}

.quizContentRightAnswers div:nth-of-type(2) {
    margin: 18px 0px;
}

.quizContentRightNext{
    margin-top: 21px;
}

.quizContentRightNext a:hover {
    opacity: 0.7;
}

.email {
    margin-left: 22px;
}

.quizContentLeftTitle {
    font-size: 14px;
    color: #000;
}

.quizContentLeftText {
    color: #000;
}

.quizContentLeftText p:nth-of-type(1){
    font-size: 14px;
}
.quizContentLeftText p{
    font-size: 12px;
}

.giftGallery {
    display: flex;
    align-items: center;
    margin-left: -10px;
}


.giftGalleryItem {
    margin: 0 13px;
}


.giftGallery a:hover {
    opacity: 0.5;
}

@media screen and (max-width: 591px) {
    .quizContentLeft {
       max-width: 100%;
        display: grid;
        grid-template-columns: 2fr 2fr;
    }

.quizContent {
    display: flex;
    flex-direction: column;
}

.quizContentLeftTitle {
    color: #fff;
    font-size: 24px;
}

.quizContentRightTitle {
    color: #000;
}
}