.ideas {
    max-width: 613px;
    font-family: 'SegoeUI', sans-serif;
    margin-top: 55px;
    text-align: left;
    margin-left: 45px;
    display: flex;

}

.ideas p {
    margin-bottom: 17px;
    font-size: 24px;
}

.ideas a {
    font-size: 14px;
    text-decoration: none;
}

.ideasItem {
    display: flex;
}

.ideasItemImg {

}

.ideasItemText {

}

.ideasItemText .title {
    font-size: 14px;
}

.ideasItemText .text {
    font-size: 12px;
}