.header {
    max-width: 100%;
    padding-right: 47px;
    padding-left: 45px;
}

.headerTop {
    font-family: "SegoeUI", sans-serif;
    display: inline-flex;
    width: 100%;
}

.headerLogo img {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.headerTitle {
    display: inline-flex;
    font-family: 'Trebuchet MS', sans-serif;
    line-height: 0.5;
    font-weight: bold;
    font-style: italic;
    margin-left: 30px;
    margin-right: 50px;
}

.HeaderTitleFirst {
    text-align: left;
    font-size: 31px;
    color: #fff;
    position: relative;
    line-height: 1.5;
    /*background: #005b7f;*/
}

.HeaderTitleFirst label {
    background-color: #005b7f;
}

.HeaderTitleSecond {
    font-size: 67px;
    color: #005b7f;
    position: absolute;
    margin-top: -10px;
}

.headerMenu {
    height: 50%;
    font-size: 14px;
    background: #005b7f;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    margin-top: 30px;
}

.headerMenu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.headerMenu ul li:nth-of-type(2) {
    margin-top: 20px;
    margin-bottom: 20px;
}

.headerMenu a {
    color: #fff;
}

.headerMenu a:hover {
    color: #005b7f;
    background: #fff;
    text-decoration: none;
    padding: 3px;
    border-radius: 5px;
}

.headerText {
    font-family: "SegoeUI", sans-serif;

    max-width: 613px;
    text-align: left;
    margin-top: 35px;
}

.headerText1 {
    font-size: 24px;
}

.headerText2, .headerText3, .headerText4 {
    margin-top: 20px;
    font-size: 12px;
}

.headerText4 {
    text-decoration: none;
}

@media screen and (max-width: 380px) {
    .headerLogo img {
        width: 180px;
    }
}

@media screen and (max-width: 591px) {
.HeaderTitleSecond {
    font-size: 28px;
}

}

@media screen and (max-width: 640px) {
    .headerTop {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

}

@media screen and (min-width: 641px) and (max-width: 724px) {

    .headerTop {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .headerLogo img {
        width: 200px;
    }
}

@media screen and (min-width: 725px) and (max-width: 990px) {
    .header {
        padding: 0 20px;
    }

    .headerMenu {
        font-size: 12px !important;
        padding: 8px;
        text-align: left;
    }

    .HeaderTitleFirst {
        font-size: 22px;
    }

    .headerLogo img {
        width: 250px;
    }

    .HeaderTitleSecond {
        font-size: 34px;
    }

}