@font-face {
  font-family: 'Trebuchet MS', sans-serif;
  src: url('./fonts/Trebuchet MS.ttf');
}

@font-face {
  font-family: 'SedoeUI', sans-serif;
  src: url('./fonts/SegoeUI.ttf');
}

body {
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  background-image: url("./img/bg.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
  overflow: hidden;
  height: 1800px;
}

@media screen and (max-width: 320px) {
}

@media screen and (min-width: 321px) and (max-width: 639px) {
}

@media screen and (min-width: 640px) and (max-width: 959px) {
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
}