@font-face {
  font-family: 'Trebuchet MS', sans-serif;
  src: url('./fonts/Trebuchet MS.ttf');
}

@font-face {
  font-family: 'SedoeUI', sans-serif;
  src: url('./fonts/SegoeUI.ttf');
}

body {
  margin: 0;
}

.content {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  min-width: 320px;
  background-image: url("./img/bgfull.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom;

}

@media screen and (min-width: 321px) and (max-width: 640px) {
  /*.content {*/
  /*  background-position: 70% 150%;*/
  /*}*/


}

@media screen and (min-width: 641px) and (max-width: 724px) {
  /*.content {*/
  /*  background-position: left bottom;*/
  /*}*/

}

/*591 - для Quiz, при меньшей ширине едетт его правая часть*/